{% extends "index.html" %}

{% block title %}Contribution Guidelines – Open Language Data Initiative{% endblock %}

{% block content -%}
<h1>Contribution Guidelines</h1>

<p>Thank you for your interest in contributing to the OLDI datasets! If you haven’t yet read through our <a href="getting-started.html">Getting Started</a> page, please start from there.</p>

<p>To make your contribution, please follow the steps below and see the rest of this page for more information.</p>

<ul class="checklist">
    <li><input type="checkbox"> Decide on your <strong>type of contribution</strong>, then contact the organisers to discuss. For corpora that are externally managed, such as SMOL and WMT24++, please make sure to coordinate with the authors too.</li>
    <li><input type="checkbox"> Identify the right <strong>language code</strong>.</li>
    <li><input type="checkbox"> Fill out a <strong>dataset card</strong> and ensure it is acknowledged by all participants.</li>
    <li><input type="checkbox"> For corpora managed by OLDI, ensure all translators have acknowledged our <strong>translation guidelines</strong>.</li>
    <li><input type="checkbox"> <strong>Deliver</strong> the data and dataset card!</li>
</ul>

<p>Questions? Email the organisers at <a href="mailto:info@oldi.org">info@oldi.org</a> or <a href="https://discord.gg/jJmrw3E77u">join our Discord server</a>.</p>

<hr>

<h2 id="types-of-contribution">Types of contribution</h2>

<p>OLDI accepts two main types of contribution:</p>

<ol>
    <li><strong>Fixes to existing data:</strong> in case of incorrect or incomplete exisiting translations.</li>
    <li><strong>Completely new translations:</strong> typically involves starting from the original English data and having it translated by qualified, native speakers of the target language.</li>
</ol>

<p>In either case, please get in touch with the organisers to discuss your contribution before starting work. This ensures nobody else is already working on the same task and allows the community to better coordinate work.</p>

<p>Some datasets, such as SMOL and WMT24++, are managed externally from OLDI. If your contribution is to an externally managed dataset, please ensure you coordinate with its original authors to ensure work is not being duplicated and any project-specific workflows and guidelines are being followed.</p>

<h2 id="language-codes">Language codes</h2>

<p>We use standardized language codes throughout OLDI, made up of three parts separated by underscores:</p>

<ul>
    <li><strong>A language subtag:</strong> an <a href="https://iso639-3.sil.org/code_tables/639/data">ISO 639-3</a> language code. Macrolanguage codes must not be used if a more specific code exists: e.g. please use <code>cmn</code>, <code>yue</code>, <code>wuu</code>, etc. rather than <code>zho</code>.</li>
    <li><strong>A script subtag:</strong> an <a href="https://unicode.org/iso15924/iso15924-codes.html">ISO 15924</a> script code.</li>
    <li><p><strong>A language variety subtag:</strong> a <a href="https://glottolog.org/glottolog/glottologinformation">Glottocode</a> identifying the specific language variety. These have the advantages of being stable and of allowing granular language identification.</p>
    </li>
</ul>

<p><strong><img src="/example.svg" class="inline" alt=""> Example</strong>: <code>apc_Arab_sout3123</code> is South Levantine Arabic written in the Arabic script.</p>

<h2 id="dataset-card">Dataset card</h2>

<p>For new data, we collect precise information about the language variety, the quality assurance workflow and the translation workflow. We provide a <a href="{{ repo_url }}/resources/dataset-card-template.md">dataset card template</a> which should be filled out as fully as possible and submitted with the data.</p>

<h2 id="translation-guidelines">Translation guidelines</h2>

<p>All translators who will be contributing data to translation datasets managed by OLDI should acknowledge and abide by our <a href="/translation-guidelines.pdf">translation guidelines</a> (also available in <a href="{{ repo_url }}/resources/translation-guidelines.md">markdown format</a>). These ensure consistent and high-quality translations. In particular, please note that some machine translation services (including DeepL, Google Translate, ChatGPT, Gemini and Claude) prohibit the use of their output for training other translation or AI models, so their use is not permitted.</p>

<h2 id="delivery">Delivery</h2>

<p>The OLDI datasets are hosted on <a href="https://huggingface.co/openlanguagedata">HuggingFace</a>. To deliver your contribution, submit a pull request to the appropriate repository. Make sure to include both the data and the dataset card!</p>

<p>By contributing to OLDI, you agree to the <a href="https://developercertificate.org">Developer Certificate of Origin (DCO)</a>. This document was created by the Linux Kernel community and is a simple statement that you, as a contributor, have the legal right to make the contribution. In order to show your agreement with the DCO, you should include the following line at the end of commit message (substituting your real name): <code>Signed-off-by: John Doe &lt;john.doe@example.com&gt;</code>. This can be done easily using the <code>-s</code> flag on the <code>git commit</code> command.</p>

<p>The delivery of contributions to datasets not managed by OLDI – such as SMOL and WMT24++ – should be discussed with the respective dataset authors.</p>

<p>Congratulations! You are now an OLDI contributor!</p>
{%- endblock %}
