{% extends "index.html" %}

{% block title %}Contribution Guidelines – Open Language Data Initiative{% endblock %}

{% block content %}
<h1>Contribution Guidelines</h1>

<p>Thank you for your interest in contributing to the OLDI datasets!</p>

<p>To ensure high-quality contributions, please follow the steps in the <a href="#checklist">checklist</a> below and see the rest of this page for more information. Should you have any questions about the guidelines, please feel free to email the organisers at <a href="mailto:info@oldi.org">info@oldi.org</a> or <a href="https://discord.gg/jJmrw3E77u">join our Discord server</a>.</p>

<h2 id="checklist">Language data release checklist</h2>

<ul class="checklist">
    <li><input type="checkbox"> Decide on your <a href="#contribution-type">type of contribution</a>.</li>
    <li><input type="checkbox"> Email the organisers at <a href="mailto:info@oldi.org">info@oldi.org</a> to discuss your proposed contribution.</li>
    <li><input type="checkbox"> Identify the right <a href="#language-codes">language code</a> for your contribution.</li>
    <li><input type="checkbox"> Fill out a <a href="#dataset-card">dataset card</a> and ensure all people participating in data collection or annotation have acknowledged its contents.</li>
    <li><input type="checkbox"> For translation projects, ensure all translators have acknowledged the <a href="#translation-guidelines">translation guidelines</a>. For monolingual projects, ensure all contributors have acknowledged the <a href="#monolingual-guidelines">monolingual contribution guidelines</a>.</li>
    <li><input type="checkbox"> Deliver the data and dataset card by submitting a pull request to the <a href="https://huggingface.co/openlanguagedata#datasets">appropriate repository</a> and accepting the <a href="https://developercertificate.org/">DCO</a>.</li>
</ul>

<h2 id="contribution-type">Types of contribution</h2>

<p>There are three main types of contributions:</p>

<ol>
    <li><strong>Fixes to existing data:</strong> in case of incorrect or incomplete exisiting translations.</li>
    <li><strong>Completely new translations:</strong> typically involves starting from the original English data and having it translated by qualified, native speakers of the target language (see <a href="#translation-guidelines">translation guidelines</a>).</li>
    <li><strong>Other contributions:</strong> for example, new monolingual datasets (see <a href="#monolingual-guidelines">monolingual contribution guidelines</a>).</li>
</ol>

<p>In each case, before starting work please make sure to email the organisers at <a href="mailto:info@oldi.org">info@oldi.org</a>. This ensures nobody else is already working on the same task and allows the community to better coordinate work.</p>

<h2 id="language-codes">Language codes</h2>

<p>We use standardized language codes throughout OLDI. These are made up of three parts, separated by underscores:</p>

<ul>
    <li><strong>A language subtag:</strong> we use <a href="https://iso639-3.sil.org/code_tables/639/data">ISO 639-3</a> language codes. Macrolanguage codes must not be used if a more specific code exists: e.g. please use <code>cmn</code>, <code>yue</code>, <code>wuu</code>, etc. rather than <code>zho</code>.</li>
    <li><strong>A script subtag:</strong> we use <a href="https://unicode.org/iso15924/iso15924-codes.html">ISO 15924</a> script codes.</li>
    <li><strong>A language variety subtag:</strong> to identify the specific language variety we use <a href="https://glottolog.org/glottolog/glottologinformation">Glottocodes</a>, which have the advantage of being stable and of allowing the identification of languages (or languoids) at various levels of granularity.</li>
</ul>

<p><strong><img src="/example.svg" class="inline" alt=""> Example</strong>: <code>apc_Arab_sout3123</code> is South Levantine Arabic written in the Arabic script.</p>

<h2 id="dataset-card">Dataset card</h2>

<p>For new data, we collect precise information about the language variety, the quality assurance workflow and, where applicable, the translation workflow. Please use the following Markdown template to provide this information.</p>

<h3>Template</h3>

<div class="code box"><strong># Dataset card</strong>

    <strong>## Description</strong>

    <em>&lt;!-- A concise description of the data associated with this card. --&gt;</em>

    FLORES+ dev set in Luxemburgish

    <strong>## License</strong>

    <em>&lt;!-- Contributions to existing datasets must be released under the same license as the parent dataset. For completely new contributions, we encourage the use of an open license. At a minimum, data should be made available for research use. Please specify the license using an <a href="https://spdx.org/licenses/">SPDX license identifier</a>. --&gt;</em>

    CC-BY-SA-4.0

    <strong>## Attribution</strong>

    <em>&lt;!-- Who should be credited for creating this dataset? Feel free to include citation data in BibTeX format. --&gt;</em>

    ```bibtex
    @article{myarticle,
    &nbsp;&nbsp;title={Something},
    &nbsp;&nbsp;author={Somebody},
    &nbsp;&nbsp;year={2024},
    }
    ```

    <strong>## Language codes</strong>

    <em>&lt;!--
    * If this language is assigned an <a href="https://iso639-3.sil.org/code_tables/639/data">ISO 639-3</a> individual language code (not a macrolanguage code), specify it here.
    * Please specify the script this language is written in using an <a href="https://unicode.org/iso15924/iso15924-codes.html">ISO 15924</a> code.
    * If this language is assigned a <a href="https://glottolog.org/glottolog/glottologinformation">Glottocode</a>, please specify it here. --&gt;</em>

    * ISO 639-3: ltz
    * ISO 15924: Latn
    * Glottocode: luxe1243

    <strong>## Additional language information</strong>

    <em>&lt;!-- Any relevant additional information on the language, such as:
        * A list of reference publications and software (dictionaries, grammars, spellcheckers).
        * If applicable, any additional information about dialectal variation that is not captured by the Glottocode.
        * If relevant, the orthography used in your contribution. --&gt;</em>&nbsp;

    <strong>## Workflow</strong>

    <em>&lt;!-- What workflow was followed in creating this dataset? E.g., for a translated dataset, relevant information includes: what language the content was translated from, the number of translators, aggregate translator information (how many were native speakers in the target language, how many were highly proficient in the target languages, how many had professional translation experience), was any fraction of the data checked independently by third parties, etc. --&gt;</em>

    Data was translated from English by 5 translators, all native speakers of the target language and highly proficient in English (at C2 level of the European Language Framework). All translators were either professional translators or had relevant qualifications (university degrees in Translation and Interpreting or Linguistics). 100% of the data was checked by one more independent translator.

    <strong>## Additional guidelines</strong>

    <em>&lt;!-- Were any additional guidelines agreed upon? Examples might include style guidelines, the use of particular grammatical forms or sentence structures, specific spelling or punctuation rules to be followed, etc. --&gt;</em>

</div>

<h2 id="translation-guidelines">Translation guidelines</h2>

<p>These translation guidelines must be acknlowedged by all translators who will be contributing data.</p>

<h3>Important note</h3>

<p>Your translations will be used to help train or evaluate machine translation engines. For this reason, this project requires <strong>human translation</strong>.</p>

<ul>
    <li>If you are translating data to be used for evaluation purposes, such as for FLORES+, using or even referencing machine translation output is not allowed (this includes post-editing).</li>
    <li>If you are translating data to be used for training purposes, such as Seed, the use of post-edited machine translated content is allowed, provided all data is manually verified and edited where necessary. <strong><img class="inline" src="/caution.svg" alt="[Caution]"> Note</strong> that some machine translation services – including DeepL, Google Translate, and ChatGPT – prohibit the use of their output for training other translation or AI models, so their use is not permitted.</li>
</ul>

<h3>General guidelines</h3>

<ol>
    <li>You will be translating sentences coming from different sources. Please refer to the source document if available.</li>
    <li>Do not convert any units of measurement. Translate them exactly as noted in the source content.</li>
    <li>When translating, please maintain the same tone used in the source document. For example, encyclopedic content coming from sources like Wikipedia should be translated using a formal tone.</li>
    <li>Provide fluent translations without deviating too much from the source structure. Only allow necessary changes.</li>
    <li>Do not expand or replace information compared to what is present in the source documents. Do not add any explanatory or parenthetical information, definitions, etc.</li>
    <li>Do not ignore any meaningful text that was present in the source.</li>
    <li>In case of multiple possible translations, please pick the one that makes the most sense (e.g., for gender concordance, cultural fit in the target language, level of formality, etc.).</li>
    <li>Translations must be faithful to the source in terms of pragmatics such as (if applicable) level of hedging/modality, sentiment and its intensity, negation, speech effects (disfluencies), etc.</li>
    <li>For proper nouns and common abbreviations, please see the guidelines on Named Entities below.</li>
    <li>Idiomatic expressions should not be translated word for word. Use an equivalent idiom, if one exists. If no equivalent idiom exists, use an idiom of similar meaning. If no similar expressions exist in the target language, paraphrase the idiom such that the meaning is retained in the target language.</li>
    <li>When a pronoun to be translated is ambiguous (for instance, when it could be interpreted as either <em>him/her</em> or <em>he/she</em>), opt for gender neutral pronouns (such as <em>them/they</em>) if those exist in the target language. However, when a pronoun to be translated is clearly marked for gender, you should follow the source material and continue to mark for gender.</li>
    <li>Foreign words and phrases used in the text should be kept in their original language when this is necessary to preserve the meaning of the sentence (e.g. if given as an example of a foreign word).</li>
</ol>

<h3>Named entities</h3>

<p>Named entities are people, places, organisations, etc., that are commonly referred to using a proper noun. This section provides guidance on how to handle named entities. Please review the following guidelines carefully:</p>

<ol>
    <li>
        If there is a commonly used term in the target language for the Named Entity:
        <ol>
            <li>If the most commonly used term is the same as in the source language, then keep it as it is.</li>
            <li>If the most commonly used term is a translation or a transliteration, then use that.</li>
        </ol>
    </li>
    <li>
        If there is no commonly used term:
        <ol>
            <li>If possible, a transliteration of the original term should be used.</li>
            <li>If a transliteration would not be commonly understood in the context, and the source term would be more acceptable, you may retain the original term.</li>
        </ol>
    </li>
</ol>

<h2 id="monolingual-guidelines">Monolingual contribution guidelines</h2>

<p>All contributors must acknowledge the following guidelines.</p>

<h3>Important note</h3>

<p>The goal of this effort is the collection of high-quality textual monolingual data, for the purposes of training language identification systems, language models and other related tools. <strong><img class="inline" src="/caution.svg" alt="[Caution]"> Synthetic data is not allowed</strong>. Examples of disallowed synthetic data include machine-translated content, LLM output, and text generated from templates.</p>

<h3>General guidelines</h3>

<ol>
    <li>All contributed data must be human-generated. Surface changes that are mechanical in nature (such as certain types of transliteration) may be performed with the aid of automated systems, provided this is clearly documented.</li>
    <li>Clearly identify the provenance of the data. In many cases, this may be done by providing a URL or a bibliographic reference.</li>
    <li>Ensure the data is in the claimed language and free of issues such as encoding problems. If at all possible, this should be done by having one or more native speakers manually check a sufficiently large representative sample of the whole dataset.</li>
</ol>

<h3>Data format</h3>

<ol>
    <li>Data must be in plain text format.</li>
    <li>Minimal markup in <a href="https://spec.commonmark.org/">Markdown format</a> may be used where applicable. Markup should be limited to italics, bold, ordered and unordered lists, inline code spans, block quotes, ATX headings (<code>#</code>, <code>##</code>). Strikethrough (<code>~~</code>), footnotes (<code>[^1]</code>) and mathematics formatting (<code>$</code> and <code>$$</code>) with <a href="https://docs.gitlab.com/ee/user/markdown.html">GitLab/GFM compatible syntax</a> may also be used.</li>
    <li>
        Where possible, we strongly encourage contributions of document-level data, rather than sentence-level data. Retaining the context that comes with full documents enables the development of more sophisticated models.
        <ol>
            <li>For document-level data, there must be one document per file. Paragraphs must be separated by two subsequent newlines.</li>
            <li>For sentence-level data, sentences must be separated by single newlines.</li>
        </ol>
    </li>
    <li>
        A standardised set of metadata must be added in the form of a YAML front matter. The front matter must be placed at the top of each file, preceding the textual content, and must be delimited by <code>---</code>.
        <ol>
            <li>Analogously to a <a href="#dataset-card">dataset card</a>, the language of the data must be marked using the <code>iso_639_3</code>, <code>iso_15924</code> and <code>glottocode</code> fields under the top-level <code>language</code> key. Should this structure be too restrictive for a given dataset, e.g. for code-switched text, please reach out to the organisers at <a href="mailto:info@oldi.org">info@oldi.org</a>.</li>
            <li>The source of the data must be specified in the <code>source</code> field. This may take the form of a URL, a bibliographic reference, or free-form text.</li>
            <li>The license, in the form of an <a href="https://spdx.org/licenses/">SPDX license identifier</a>, must be specified in the <code>license</code> field.</li>
            <li>The date of submission of the data must be specified in <code>YYYY-MM-DD</code> format in the <code>submission_date</code> field.</li>
            <li>Document-level data must be marked as <code>document: true</code>, whereas sentence-level data must be marked as <code>document: false</code>.</li>
            <li>Files that use Markdown syntax must set <code>markdown: true</code>.</li>
        </ol>
    </li>
</ol>

<p>The following is an example of well-formed document-level data.</p>

<div class="code box"><strong>---</strong>
<strong>language</strong>:
&nbsp;&nbsp;<strong>iso_639_3</strong>: eng
&nbsp;&nbsp;<strong>iso_15924</strong>: Latn
&nbsp;&nbsp;<strong>glottocode</strong>: stan1293
<strong>source</strong>: https://en.wikipedia.org/wiki/Generative_grammar
<strong>license</strong>: CC-BY-SA-4.0
<strong>submission_date</strong>: 2024-05-05
<strong>document</strong>: true
<strong>markdown</strong>: true
<strong>---</strong>
<strong># Generative grammar</strong>&nbsp;

<strong>**Generative grammar**</strong> is a theoretical approach in linguistics that regards grammar as a domain-specific system of rules that generates all and only the grammatical sentences of a given language. In light of poverty of the stimulus arguments, grammar is regarded as being partly innate, the innate portion of the system being referred to as universal grammar. The generative approach has focused on the study of syntax while addressing other aspects of language including semantics, morphology, phonology, and psycholinguistics.

<strong>## Frameworks</strong>

There are a number of different approaches to generative grammar. Common to all is the effort to come up with a set of rules or principles that formally defines every one of the members of the set of well-formed expressions of a natural language. The term <em>_generative grammar_</em> has been associated with at least the following schools of linguistics:

...
</div>

<p>The following is an example of well-formed sentence-level data.</p>

<div class="code box"><strong>---</strong>
<strong>language</strong>:
&nbsp;&nbsp;<strong>iso_639_3</strong>: xxx
&nbsp;&nbsp;<strong>iso_15924</strong>: Xxxx
&nbsp;&nbsp;<strong>glottocode</strong>: xxxx1234
<strong>source</strong>: Example sentences extracted from: A. Bloggs. 1904. Notes on Language X. Journal of Language Studies. 24-40.
<strong>license</strong>: CC-0
<strong>submission_date</strong>: 2024-05-05
<strong>document</strong>: false
<strong>markdown</strong>: false
<strong>---</strong>
This is a sentence.
This is another sentence.
This is a third sentence.
...
</div>

{% endblock %}
