<html>
    <head lang="en">
        <meta charset="utf-8">
        <meta property="og:title" content="{% block title %}OLDI – Open Language Data Initiative{% endblock %}">
        <meta property="og:image" content="https://oldi.org/og.png">
        <meta property="og:description" content="The Open Language Data Initiative (OLDI) empowers language communities around the globe to contribute to a database that drives the foundation of today’s machine translation and natural language processing work. We invite community, academic, and industry members to contribute to key datasets that are imperative to the organic expansion of language technology’s reach.">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <title>{{ self.title() }}</title>
    </head>
    <body>
        <header>
            <a href="/"><h1><img src="/oldi.svg" title="L"> <span><span>Open Language</span> Data</span> Initiative</h1></a>
            <nav>
                <a href="/">Home</a>
                <a href="/values.html">Values</a>
                <a href="/languages.html">Languages</a>
                <a href="/guidelines.html">Guidelines</a>
                <a href="/related.html">Related</a>
            </nav>
        </header>
        <main>
            <aside><strong>Latest news:</strong> We are organising a <a href="https://www2.statmt.org/wmt25/open-data.html">shared task at WMT25</a>. Please consider participating! </aside>
            {% block content %}
            <h1>Welcome!</h1>

            <p>The Open Language Data Initiative (OLDI) empowers language communities around the globe to contribute to a database that drives the foundation of today’s machine translation and natural language processing work. We invite community, academic, and industry members to contribute to key datasets that are imperative to the organic expansion of language technology’s reach.</p>

            <h2>Why do we exist?</h2>

            <p>Machine translation research has advanced at breakneck speed. That said, progress made in translation quality has largely been directed at high-resource languages, leaving many languages behind. More recently, focus has started to shift to under-served languages (also called low-resource), and foundational datasets such as <a href="https://aclanthology.org/2022.tacl-1.30/">FLORES</a>, <a href="https://aclanthology.org/2023.acl-long.154/">NLLB-Seed</a> and <a href="https://aclanthology.org/2022.sumeval-1.4/">NTREX</a> have made it easier to develop and evaluate language technologies for an increasing number of languages. The high impact of these components left some in the research community wondering: how do we add more languages to these existing open-source datasets?</p>

            <p>OLDI was established for this very purpose. Because of the centrality of these components to the development of machine translation systems, allowing community, academic and industry members to contribute to them directly ensures the organic growth of these foundational corpora. The data made available can help researchers and developers improve translation coverage and quality, build stronger models, and edge us closer to materialization of the “<a href="https://ethanzuckerman.com/the-polyglot-internet/">The Polyglot Internet</a>”.</p>

            <div class="box">
                Contributions are most welcome!<br>
                See the <a href="/guidelines.html">Contribution Guidelines</a> and <a href="https://discord.gg/jJmrw3E77u">Join our Discord</a>.
            </div>

            <div class="box">
                See the list of <a href="/languages.html">Supported Languages</a>.
            </div>

            <h2 id="datasets">OLDI datasets</h2>

            <p>OLDI currently houses the following datasets:</p>
            <ul>
                <li>🌱 <a href="https://huggingface.co/datasets/openlanguagedata/oldi_seed">OLDI-Seed</a>, a set of 6,193 sentences extracted from English Wikipedia and translated into many other languages, which can be used to train machine translation models. It is an extended and improved version of the NLLB-Seed dataset.</li>
                <li>💐 <a href="https://huggingface.co/datasets/openlanguagedata/flores_plus">FLORES+</a>, an evaluation benchmark for multilingual machine translation, covering over 200 languages. It is an extended and improved version of the FLORES-200 dataset.</li>
            </ul>

            <h2>Organizers</h2>
            <ul class="none">
                <li>Idris Abdulmumin, University of Pretoria</li>
                <li>Antonios Anastasopoulos, George Mason University</li>
                <li>Laurie Burchell, Common Crawl Foundation</li>
                <li>David Dale, Meta FAIR</li>
                <li>Christian Federmann, Apple</li>
                <li>Jean Maillard, Meta FAIR</li>
                <li>Philipp Koehn, Johns Hopkins University</li>
                <li>Skyler Wang, McGill University</li>
            </ul>
            {% endblock %}
            <footer>
                Open Language Data Initiative<br>
                Logo by <a href="https://elettradeganello.com/">Elettra Deganello</a></footer>
        </main>
    </body>
</html>
