{% extends "index.html" %}

{% block title %}Language List – Open Language Data Initiative{% endblock %}

{% block content %}
<h1>Language List</h1>

<h2>Current OLDI languages</h2>

<p>The following table lists all languages currently included in OLDI, and which datasets are covered. The meaning of the dataset cells is as follows:</p>
<ul class="none">
    <li><img src="/ok.png" class="i" alt="available" title="available"> data is available</li>
    <li><img src="/partial.png" class="i" alt="partially available" title="partially available"> data is partially available</li>
    <li><img src="/warn.png" class="i" alt="issues reported" title="issues reported"> data is available, potentially only in parts, but issues have been reported</li>
</ul>

<table class="c l3 l4">
    <thead>
        <tr><th>Code</th><th>Script</th><th>Glottocode</th><th>Language</th><th><a href="https://github.com/openlanguagedata/flores">FLORES+</a></th><th><a href="https://github.com/openlanguagedata/seed">Seed</a></th></tr>
    </thead>
    <tbody>
        {% for lang in languages -%}
        <tr>
            <td><code><a href="https://iso639-3.sil.org/code/{{ lang.iso_639_3 }}">{{ lang.iso_639_3 }}</a></code></td>
            <td><code>{{ lang.iso_15924 }}</code></td>
            <td>{% if lang.glottocode %}<code><a href="https://glottolog.org/resource/languoid/id/{{ lang.glottocode }}">{{ lang.glottocode }}</a></code>{% endif %}</td>
            <td>{{ lang.display_name }}</td>
            <td>
                {%- if lang.datasets.flores_dev == "ok" and lang.datasets.flores_devtest == "ok" -%}
                <img src="/ok.png" class="i" alt="available" title="available">
                {%- elif lang.datasets.flores_dev == "warn" or lang.datasets.flores_devtest == "warn" -%}
                <img src="/warn.png" class="i" alt="issues reported" title="issues reported">
                {%- elif lang.datasets.flores_dev in ["ok", "partial"] or lang.datasets.flores_devtest in ["ok", "partial"] -%}
                <img src="/partial.png" class="i" alt="partially available" title="partially available">
                {%- endif -%}
            </td>
            <td>
                {%- if lang.datasets.seed == "ok" -%}
                <img src="/ok.png" class="i" alt="available" title="available">
                {%- elif lang.datasets.seed == "warn" -%}
                <img src="/warn.png" class="i" alt="issues reported" title="issues reported">
                {%- elif lang.datasets.seed == "partial" -%}
                <img src="/partial.png" class="i" alt="partially available" title="partially available">
                {%- endif -%}
            </td>
        </tr>
        {%- endfor %}
    </tbody>
</table>

<p>The size of the table above might give the mistaken impression that these datasets cover a large proportion of the world’s languages. It is therefore important to realize that, while indeed a large number of languages are currently supported, these only represent a very small fraction of the languages that are currently spoken around the planet. The following progress bar gives a rough estimate of how many languages are covered by OLDI datasets, compared to the approximate total number of currently spoken languages (based on <a href="https://glottolog.org/glottolog/glottologinformation">Glottolog data</a>).</p>

<p>Language coverage:</p>

<table class="progress">
    <tr>
        <td style="width: 2.5%;"></td>
        <td style="width: 1%; padding-right: 0;">2.5%</td>
        <td style="padding-left: 0;">of all languages</td>
    </tr>
</table>

{% endblock %}
