{% extends "index.html" %}

{% block title %}Papers – Open Language Data Initiative{% endblock %}

{% block content %}
<h1>Papers</h1>

<p>
    Since their first releases, the FLORES and Seed dataset have been well documented in research papers.
    Their community extensions (including those under WMT shared tasks in <a href="https://www2.statmt.org/wmt24/open-data.html">2024</a> and <a href="https://www2.statmt.org/wmt25/open-data.html">2025</a>) often also resulted in publications.
    They are all listed below in reverse chronological order.
</p>

<h2>2025</h2>
<ul>
    <li>
        <i><a href="https://arxiv.org/abs/2508.14586">Filling the Gap for Uzbek: Creating Translation Resources for Southern Uzbek</a> by Mamasaidov et al, 2025.</i>
        <br>
        FLORES+ in Southern Uzbek.
    </li>
    <li>
        <i><a href="https://arxiv.org/abs/2508.02290">A French Version of the OLDI Seed Corpus</a> by Marmonier et al, 2025.</i>
    </li>
</ul>

<h2>2024</h2>
<ul>
    <li>
        <i><a href="https://aclanthology.org/2024.wmt-1.4/">Findings of the WMT 2024 Shared Task of the Open Language Data Initiative</a> by Burchell et al, 2024.</i>
        <br>
        Summary of the papers below.
    </li>
    <li>
        <i><a href="https://aclanthology.org/2024.wmt-1.41/">Expanding the FLORES+ Multilingual Benchmark with Translations for Aragonese, Aranese, Asturian, and Valencian</a> by Perez-Ortiz et al, 2024.</i>
    </li>
    <li>
        <i><a href="https://aclanthology.org/2024.wmt-1.44/">Correcting FLORES Evaluation Dataset for Four African Languages</a> by Abdulmumin et al, 2024.</i>
        <br>
        FLORES+ improvements to Hausa, Northern Sotho (Sepedi), Xitsonga, and isiZulu.
    </li>
    <li>
        <i><a href="https://aclanthology.org/2024.wmt-1.45/">Expanding FLORES+ Benchmark for more Low-Resource Settings: Portuguese-Emakhuwa Machine Translation Evaluation</a> by Ali et al, 2024.</i>
    </li>
    <li>
        <i><a href="https://aclanthology.org/2024.wmt-1.45/">Enhancing Tuvan Language Resources through the FLORES Dataset</a> by Kuzhuget et al, 2024.</i>
    </li>
    <li>
        <i><a href="https://aclanthology.org/2024.wmt-1.47/">Machine Translation Evaluation Benchmark for Wu Chinese: Workflow and Analysis</a> by Yu et al, 2024.</i>
        <br>
        FLORES+ translation into Wu Chinese.
    </li>
    <li>
        <i><a href="https://aclanthology.org/2024.wmt-1.48/">Open Language Data Initiative: Advancing Low-Resource Machine Translation for Karakalpak</a> by Mamasaidov and Shopulatov, 2024.</i>
        <br>
        FLORES+ translation into Karakalpak.
    </li>
    <li>
        <i><a href="https://aclanthology.org/2024.wmt-1.49/">FLORES+ translation and machine translation evaluation for the Erzya language</a> by Gordeev et al, 2024.</i>
    </li>
    <li>
        <i><a href="https://aclanthology.org/2024.wmt-1.42/">The Bangla/Bengali Seed Dataset Submission to the WMT24 Open Language Data Initiative Shared Task</a> by Ahmed et al, 2024.</i>
    </li>
    <li>
        <i><a href="https://aclanthology.org/2024.wmt-1.43/">A high-quality Seed dataset for Italian machine translation</a> by Ferrante, 2024.</i>
    </li>
    <li>
        <i><a href="https://aclanthology.org/2024.wmt-1.50/">Spanish Corpus and Provenance with Computer-Aided Translation for the WMT24 OLDI Shared Task</a> by Cols, 2024.</i>
    </li>
</ul>

<h2>2023</h2>
<ul>
    <li>
        <i><a href="https://aclanthology.org/2023.acl-long.154/">Small Data, Big Impact: Leveraging Minimal Data for Effective Machine Translation</a> by Maillard et al, 2023.</i>
        <br>
        This paper describes the construction of the Seed dataset and analyses its impact in more detail.
    </li>
    <li>
        <i><a href="https://aclanthology.org/2023.wmt-1.34">Machine Translation for Nko: Tools, Corpora, and Baseline Results</a> by Doumbouya et al, 2023.</i>
        <br>
        Introducing FLORES and Seed for the Nko language.
    </li>
    <li>
        <i><a href="https://arxiv.org/abs/2305.16307">IndicTrans2: Towards High-Quality and Accessible Machine Translation Models for all 22 Scheduled Indian Languages</a> by AI4Bharat et al, 2023.</i>
        <br>
        Translating FLORES into Bodo, Dogri, Meitei (Meitei Script), Sindhi (Devanagari script), Goan Konkani.
    </li>
</ul>

<h2>2022 and earlier</h2>
<ul>
    <li>
        <i><a href="https://arxiv.org/abs/2207.04672">No language left behind: Scaling human-centered machine translation</a> by NLLB Team et al, 2022.</i>
        <br>
        In this paper, FLORES-101 was extended to 202 languages, and Seed was introduced and used for training the NLLB-200 model.
    </li>
    <li>
        <i><a href="https://aclanthology.org/2022.tacl-1.30/">The Flores-101 Evaluation Benchmark for Low-Resource and Multilingual Machine Translation</a> by Goyal et al, 2022.</i>
        <br>
        This paper rebuilt FLORES in its modern form, based on English Wikinews, Wikibooks, and Wikivoyage.
    </li>
    <li>
        <i><a href="https://aclanthology.org/D19-1632">The FLORES Evaluation Datasets for Low-Resource Machine Translation: Nepali–English and Sinhala–English</a> by Guzmán et al, 2019.</i>
        <br>
        The very first version of FLORES.
    </li>
</ul>


{% endblock %}
